<h1>{{ recipe_box }}</h1>

{% if request.user.is_authenticated %}
  <h2>Hi, <a href="/author/{{ request.user.author.id }}"> {{ request.user.author.name }}!</h2></a>
{% endif %}

<ul>
  {% for recipe in recipes %}
  <li>
    <a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a>
  </li>
  {% endfor %}
</ul>
<a href="/addauthor/">Add an Author</a> | <a href="/addrecipe/">Add a Recipe</a>

{% if request.user.is_authenticated %}
<p>
  <a href="/logout/"><button>Logout</button></a>
</p>
{% endif %}
